body {
    background-color: #ffebcd;
}
h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

p {
    color: rgb(0, 0, 0);
    font-size: 18px;
    display: block;
    font-family: monospace, 'Calibri', sans-serif, 'Helvectica';
}

p:hover, ul:hover {
    background-color: #edd3b1
}

