body {
    background-color: #ffebcd;
}
h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    display: block;
    font-family: monospace, 'Calibri', sans-serif, 'Helvectica';
}

p footer {
    color: rgb(0, 0, 0);
    font-size: 6px;
    display: block;
    font-family: monospace, 'Calibri', sans-serif, 'Helvectica';
    opacity: 49%;
}

p:hover, ul:hover {
    background-color: #edd3b1
}

ul {
    list-style: none;
}

