body {
    background-color: #ffebcd;
}

p {
    text-align: left;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Calibri', Helvetica;
    color: #000000;
}

h1 {
    text-align: center;
    font-size: 72px;
    font-weight: bolder;
    font-family: 'Helvetica', Calibri;
    color: #000000;
    margin: 52px 0px 0px 0px;
}

h2 {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    font-family: 'Helvetica', Calibri;
    font-style: italic;
    color: #000000;
    margin: 26px 0px 0px 0px;
}

ul {
    list-style: none;
    text-align: center;
    font-size: 36px;
    font-family: 'Calibri', Helvetica;
}


li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 38px;
    font-size: inherit;
    font-family: inherit;
}

img {
    height: 333px;
    width: 400px;
}

iframe {
    height: 500px;
    width: 500px;
    float: right;
}

figcaption {
    font-size: 12px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    opacity: 72%;

}

footer > p {
    display: block;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Helvetica', Calibri;
    opacity: 64%;
}

button {
    display: inline;
    margin: 20px auto;
    background: #1a64d6;
    font-size: 16px;
    line-height: 22px;
    padding: 16px 24px;
    border-radius: 30px;
    transition: all 200ms ease;
    box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
    cursor: pointer;
    border: 1px solid #1a64d6;
}
button:hover {
    background-color: #ffffff;
    cursor: inherit;
}

button > a:link, button > a:visited, button > a:active, button > a {
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: none;
    color: rgb(255,255,255);
    font-size: 24px;
}

button > a:hover {
    color: #1A64D6;
    font-size: 24px;
}

a {
    color: #1A64D6;
}

a:visited {
    color: #9f1bd7;
}

br {    
    /* makes a big line break */

    display: block;
    content: "";
    margin-top: 6em;
}

.images {
    border-color: #000000;
    border-radius: 3px;
    border-width: 3px;
}

.info:hover {
    background-color: #ffe3b9;
}

#homepage_main_semtag:hover {
    background-color: #ffe3b9;
}
